.products {
  display: grid;
  grid-template-rows: auto 1fr;

  &.large-screen-product-layout {
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.65em;
  }

  .product-catlogue {
    display: grid;
    grid-gap: 0.65em;
    grid-template-columns: repeat(2, 1fr);

    &.large-screen-product-catlogue {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5em;
    }

  }

  .products-unavailable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }

  .btn-wa-label{
    padding: 0 1rem;
    @media only screen and (min-width: 1152px) and (max-width: 1229px) {
      padding: 0 1.5rem;
    }
    @media only screen and (min-width: 1230px) and (max-width: 1309px) {
      padding: 0 2rem;
    }
    @media only screen and (min-width: 1310px) {
      padding: 0 0.5rem;
    }
  }
}
