<div class="products px-3" [ngClass]="{'large-screen-product-layout': !(isHandset$ | async)}">
  <div class='subsection-dropdown text-center'>
    <mat-form-field appearance="outline" style="width:100%">
      <mat-label>{{currentCategoryLabel}}</mat-label>
      <mat-select [value]="currentSubcategoryValue" (selectionChange)='subcategoryValueChanged($event)'>
        <mat-option [value]="option.subcategorySlug" *ngFor="let option of currentSubcategoryInfo">{{
          option.subcategoryLabel }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="whatsapp-cta px-2 mt-2" *ngIf="!(isHandset$ | async)">
      <a class="btn btn-whatsapp-style"
        href="https://wa.me/{{whatsAppContactNumber}}?text={{whatsAppEnquiryTextPrimary}}" target="_blank">
        <section class="d-flex align-items-center">
          <img src="assets/images/whatsapp.svg" alt="whatsapp">
          <span class="px-2 fs-12">{{whatsAppButtonLabelPrimary}}</span>
        </section>
      </a>
    </div>
  </div>
  <div class="products-view-wrapper">
    <!-- loading spinner -->
    <div class="loading-spinner-wrapper" *ngIf="isLoading">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="products-unavailable" *ngIf="!productsAvailable && !isLoading">
      <div class="illustration-wrapper">
        <img src="/assets/images/product_unavailable.svg" alt="no-products-available" height="250px">
      </div>
      <div class='copy-for-unavailble secondary-text text-center pt-3'>
        <small class="d-block">No Product Available! 😔</small>
        <small class="d-block pt-1">Whatsapp us?</small>
      </div>
    </div>
    <!-- products -->
    <div class="product-catlogue" *ngIf="productsAvailable && !isLoading" [ngClass]="{'large-screen-product-catlogue': !(isHandset$ | async)}">
      <div class="product-wrapper" *ngFor="let product of productsCatlogue">
        <app-product-card [productDetail]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>