<div class="products px-3" [ngClass]="{'large-screen-product-layout': !(isHandset$ | async)}">
  <div class='subsection-dropdown text-center'>
    <mat-form-field appearance="outline" style="width:100%">
      <mat-label>{{currentCategoryLabel}}</mat-label>
      <mat-select [value]="currentSubcategoryValue" (selectionChange)='subcategoryValueChanged($event)'>
        <mat-option [value]="option.subcategorySlug" *ngFor="let option of currentSubcategoryInfo">{{
          option.subcategoryLabel }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="whatsapp-cta px-2 mt-2" *ngIf="!(isHandset$ | async)">
      <a class="btn btn-whatsapp-style"
        href="https://wa.me/{{whatsAppContactNumber}}?text={{whatsAppEnquiryTextPrimary}}" target="_blank">
        <section class="d-flex align-items-center">
          <img src="assets/images/whatsapp.svg" alt="whatsapp">
          <span class="px-2 fs-12">{{whatsAppButtonLabelPrimary}}</span>
        </section>
      </a>
    </div>
  </div>
  <div class="product-catlogue" [ngClass]="{'large-screen-product-catlogue': !(isHandset$ | async)}">
    <div class="product-wrapper" *ngFor="let product of productsCatlogue">
      <app-product-card [productDetail]="product" ></app-product-card>
    </div>
  </div>
</div>