<div class="product-container px-3">
    <div class="product-details my-3" [ngClass]="{'large-screen-details-layout': !(isHandset$ | async)}">
        <div class="product-image lazyload">
            <img class="img-style"
                src="{{currentProductImageShowcased}}">
        </div>
        <div class="product-content-wrapper" [ngClass]="{'px-5': !(isHandset$ | async)}">
            <div class="product-header mt-3">
                <span class="d-block fs-18">{{productTitle}}</span>
                <span class="d-block fs-14 secondary-text pt-1">{{productSubcategoryLabel}}</span>
            </div>
            <div class="product-content fs-14 my-3">
                <div class='vertically-centered-grid-item'>
                    <span>Available colors</span>
                </div>
                <div class='vertically-centered-grid-item'>
                    <span class='dot-container'>
                        <span class="dot" style="background-color: #3668a1"></span>
                    </span>
                    <span class='dot-container'>
                        <span class="dot" style="background-color: #A6E4B3"></span>
                    </span>
                    <span class='dot-container'>
                        <span class="dot" style="background-color: #EB5757"></span>
                    </span>

                </div>
                <div class='vertically-centered-grid-item'>
                    <span>Quantiy</span>
                </div>
                <div class='vertically-centered-grid-item'>
                    <mat-form-field appearance="outline" style="width:100%">
                        <mat-label>customize quantity</mat-label>
                        <mat-select [value]="currentProductQuantityApplied"
                            (selectionChange)='quantityValueChanged($event)'>
                            <mat-option [value]="option.qty" *ngFor="let option of productQtyPrice">
                                {{ option.qty }} piece(s)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class='vertically-centered-grid-item'>
                    <span>Price</span>
                </div>
                <div class='vertically-centered-grid-item'>
                    <span class='font-weight-bold'>
                        ₹{{currentProductPriceApplied}}
                    </span>
                </div>
            </div>
            <div class="product-cta text-center my-3">
                <button mat-stroked-button style="background-color: blanchedalmond; width:50%;">Buy Now</button>
            </div>
            <div class="product-description p-3 my-4">
                <div class="label">
                    <span>Product Description</span>
                </div>
                <div class="details fs-12 pt-3">
                    <span class='d-block'>
                        {{productDescription}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- CHECK SIMILAR PRODUCTS feature OFF FOR NOW -->
    <!-- <div class="other-products mt-3 mb-1 text-center">
        <section class='my-4'>
            <span class='check-products secondary-text px-3'>Check similar products</span>
        </section>
        <div class="recommended-products py-2" [ngClass]="{'large-screen-recommended-layout': !(isHandset$ | async)}">
            <app-product-card class="suggestion-start"></app-product-card>
            <app-product-card></app-product-card>
        </div>
        <section class="find-more pt-4 pb-3">
            <button mat-stroked-button style="background-color: blanchedalmond;">Find More</button>
        </section>
    </div> -->
</div>