<div class="home-page text-center px-3 pb-2 primary-text">
    <!-- homepage: carousel[bootstrap] -->
    <section class="carousel-banner">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- small-screen carousel slider and images -->
            <div class="small-screen-carousel" *ngIf="(isHandset$ | async)">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}" [ngClass]="{'active': i === 0 }"
                        *ngFor="let item of carouselSmallScreen; let i = index"></li>
                </ol>
                <div class="carousel-inner border-radius-8 mobile-carousel">
                    <div class="carousel-item" [ngClass]="{'active': i === 0 }"
                        *ngFor="let item of carouselSmallScreen; let i = index">
                        <img src="{{item}}" class="d-block w-100" alt="carousel-image">
                    </div>
                </div>
            </div>

            <!-- large-screen carousel slider and images -->
            <div class="large-screen-carousel" *ngIf="!(isHandset$ | async)">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}" [ngClass]="{'active': i === 0 }"
                        *ngFor="let item of carouselLargeScreen; let i = index"></li>
                </ol>
                <div class="carousel-inner border-radius-8">
                    <div class="carousel-item carousel-item-lg-screen" [ngClass]="{'active': i === 0 }"
                        *ngFor="let item of carouselLargeScreen; let i = index">
                        <img src="{{item}}" class="d-block w-100" alt="carousel-image">
                    </div>
                </div>
            </div>

            <!-- carousel arrow buttons -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <!-- Layout dynamic -->
    <div [ngClass]="{'wrapper-design': (i % 2 == 0), 'wrapper-design-stretched': (i % 2 != 0)}"
        *ngFor="let item of homepageItems; let i = index">

        <section [ngClass]="{'m-padding-wrapper ': (isHandset$ | async)}">
            <h5 class="py-3 fs-18">{{item?.displayTitle}}</h5>

            <!-- layout style -->
            <div [ngClass]="{
                'layout-four-cards-grid': (i % 4 == 0),
                'smaller-screen-grid-A': ((isHandset$ | async) && (i % 4 == 0)),
                'layout-single-card-flex': (i % 4 == 1),
                'layout-two-cards-flex': (i % 4 == 2),
                'layout-three-cards-flex': (i % 4 == 3)
                }">
                <!-- actual image -->
                <div class="image-wrapper cursor-pointer" *ngFor="let subcategory of item?.product_subcategories"
                    (click)="subcategoryClicked(item, subcategory)">
                    <img class="lazyload cursor-pointer"
                        [ngClass]="{'showcase-card': (i % 4 == 0), 'showcase-card-long': (i % 4 != 0)}"
                        src="{{subcategory?.displayPictureUrl}}?tr=bl-6" data-src="{{subcategory?.displayPictureUrl}}"
                        data-srcset="{{subcategory?.displayPictureUrl}}?tr=w-190 190w,
                            {{subcategory?.displayPictureUrl}}?tr=w-350 350w,
                            {{subcategory?.displayPictureUrl}}?tr=w-550 550w" sizes="(max-width: 600px) 50vw, 25vw">
                    <div class="image-title-overlay">
                        <span>{{subcategory?.subcategoryLabel}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- homepage: whatsapp CTA -->
    <div class="whatsapp-cta p-3 my-4">
        <a class="btn btn-whatsapp-style"
            href="https://wa.me/{{whatsAppContactNumber}}?text={{whatsAppEnquiryTextPrimary}}" target="_blank">
            <section class="d-flex align-items-center">
                <img src="assets/images/whatsapp.svg" alt="whatsapp">
                <span class="px-2 fs-12"> {{whatsAppButtonLabelSecondary}}</span>
            </section>
        </a>
    </div>

    <!-- homepage: footer section  -->
    <div class="footer-styling row no-gutters py-4">
        <!-- section: Contact Map -->
        <section class="col-sm">
            <div class="footer-text-cosmetics">
                <span class="d-block text-rules"> Want to checkout in person?</span>
                <span class="d-block text-rules"> visit us!</span>
            </div>
            <div class="map-responsive px-3">
                <iframe [src]="_sanitizer.bypassSecurityTrustResourceUrl(storeGoogleMapLocationURL)" frameborder="0"
                    class='map-style' allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
            <aside class="pt-3 fs-12">
                <span class="d-block">{{storeAddressLineOne}} </span>
                <span class="d-block">{{storeAddressLineTwo}}</span>
            </aside>
        </section>
        <!-- section: Footer content -->
        <section class="col-sm">
            <div class='center-css-box'>
                <div [ngClass]="{'pt-4': (isHandset$ | async)}">
                    <h5 class="fs-18" *ngIf="!(isHandset$ | async)"> follow us:</h5>
                    <div class="pt-1">
                        <span class="px-2">
                            <i class="fa fa-facebook cursor-pointer" aria-hidden="true"></i>
                        </span>
                        <span class="px-2">
                            <i class="fa fa-instagram cursor-pointer" aria-hidden="true"></i>
                        </span>
                        <span class="px-2">
                            <i class="fa fa-twitter cursor-pointer" aria-hidden="true"></i>
                        </span>
                    </div>
                    <aside class="py-3">
                        <span class="d-block fs-12 cursor-pointer" (click)="callMe()"> {{storeContactNumber}}</span>
                        <span class="d-block fs-12 pt-2 cursor-pointer" (click)="mailMe()">{{storeEmailAddress}} </span>
                    </aside>
                </div>
            </div>
        </section>
    </div>
</div>