.home-page {
  .carousel-banner {

    .carousel-indicators li {
      width: 15px;
      height: 2px;
    }

    .carousel-item-lg-screen {
      height: 55vh;

      img {
        height: 55vh;
      }

    }

    @media only screen and (min-width: 600px) {
      margin: -1em;
      padding: 0;
    }

  }

  .border-radius-8 {
    border-radius: 8px;

    @media only screen and (min-width: 600px) {
      border-radius: 0;
    }
  }

  .map-style {
    border: 0;
    max-width: calc(100vw - 2em);
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
  }

  .wrapper-design {
    margin: 2em -1em;
    background: #fff;
    border-radius: 0;

    @media only screen and (min-width: 600px) {
      margin: 4em;
      background: #fff;
      border-radius: 16px;
      padding: 1em 0 4em 0;
    }
  }

  .wrapper-design-elongated {
    margin: auto -1em;
    background: #fff;
    border-radius: 0;

    @media only screen and (min-width: 600px) {
      margin: auto;
      background: #fff;
      border-radius: 16px;
      padding: 1em 4em 4em 4em;
    }
  }

  .m-padding-wrapper {
    padding: 1em 1em 1.5em 1em;
  }
}


//  layouts: mobile screen [larger screen]

// 1.0 FLEX: single card+ 
.layout-single-card-flex {
  display: flex;
  gap: 1em;
  overflow-x: auto;

  .showcase-card-long {
    // background-color: aquamarine;
    // height: 250px;
    border-radius: 4px;
    min-width: calc(65vw);

    @media only screen and (min-width: 600px) {
      min-width: calc(25%);
    }

  }
}

// 1.1 FLEX: Two cards 
.layout-two-cards-flex {
  display: flex;
  gap: 1em;
  overflow-x: auto;

  // for larger screens:
  max-width: 960px; //to restrict oversizing
  margin-right: auto;
  margin-left: auto;

  .showcase-card-long {
    // background-color: aquamarine;
    // height: 250px;
    border-radius: 4px;
    min-width: calc(50vw - 1.5em);

    @media only screen and (min-width: 600px) {
      min-width: calc(33% - 0.5em);
    }
  }
}

// 1.2 FLEX: Three cards 
.layout-three-cards-flex {
  display: flex;
  gap: 1em;
  overflow-x: auto;

  .showcase-card-long {
    // background-color: aquamarine;
    // height: 250px;
    border-radius: 4px;
    min-width: calc(33vw - 1.25em);

    @media only screen and (min-width: 600px) {
      min-width: calc(20%);
    }
  }
}

// 2.1 GRID: Four cards 
.layout-four-cards-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  overflow-x: auto;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;


  &.smaller-screen-grid-A {
    grid-auto-columns: calc(50% - 0.5em);
  }

  .showcase-card {
    // background-color: aquamarine;
    // height: 145px;
    border-radius: 4px;
    width: 100%;
  }
}

// 2.1 GRID: six cards 
.layout-six-cards-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  overflow-x: auto;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;

  &.smaller-screen-grid-A {
    grid-auto-columns: calc(33% - 0.625em);
  }

  .showcase-card {
    // background-color: aquamarine;
    // height: 145px;
    border-radius: 4px;
    width: 100%;
  }
}
