.home-page {
  .carousel {
    .carousel-indicators li {
      width: 15px;
      height: 2px;
    }

    // .carousel-control-next-icon {   
    //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='4' height='4' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    // }
  }

  .showcase-card {
    background-color: aquamarine;
    height: 145px;
    border-radius: 4px;
  }

  .grid-type-A {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow-x: auto;

    &.smaller-screen-grid-A{
      grid-auto-columns: calc(50%);
    }
  }

  .grid-type-B {
    display: grid;
    grid-gap: 1em;
    grid-auto-flow: column;
    overflow-x: auto;
  }

}
