.home-page {
  .carousel-banner {
    .carousel-indicators li {
      width: 15px;
      height: 2px;
    }

    .carousel-item-lg-screen {
      height: 50vh;
    }

    .carousel-item-lg-screen img {
      height: 50vh;
    }

  }

  .showcase-card {
    background-color: aquamarine;
    height: 145px;
    border-radius: 4px;
  }

  .grid-type-A {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow-x: auto;

    &.smaller-screen-grid-A {
      grid-auto-columns: calc(50%);
    }
  }

  .grid-type-B {
    display: grid;
    grid-gap: 1em;
    grid-auto-flow: column;
    overflow-x: auto;
  }

}
