<mat-card class="product-card text-center">
    <img mat-card-image
        src="https://cdn2.storehippo.com/s/5bf5074adb08ee03812b17be/5fdb4d3929efee08cd9299b5/cmc-32-640x640.JPG">
    <mat-card-content class="fs-12 mb-1">
        <span class="d-block"> Kundan Bead Type</span>
        <span class="d-block pt-2"> ₹500 </span>
    </mat-card-content>
    <mat-card-actions class="mb-1">
        <button mat-stroked-button style="background-color: blanchedalmond;">Check details</button>
    </mat-card-actions>
</mat-card>